
* {
  text-align: center;
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
  
}
body{
  background-image: url("../img/фон.png");
}
@font-face {
  font-family: "Grammatic";
  src :url("../fonts/gramatika_regular.ttf");
  font-size: 12vh;
  /* src: "{{ url_for('static', filename='/fonts/gramatika_bold.ttf') }}"; */
}
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  size : 40%;
  
}
.menu div{
  background-color: rgba(0, 78, 168, 0.54);
  display: inline-block;
  margin-top: 2vh;
  margin-left: 1vh;
  margin-right: 1vh;
  size: 10%;
  border-radius: 10%;
  
}
.ImgTextBoxes{
  font-size: 3vh;
  font-family: 'Grammatic',"","";
  color:aliceblue;
  text-align: center;
  
  
  
}
.plinkImages{
  background-color: lightgrey;

}
.menu div img {
  max-width: 100%;
  display: block;

  border-radius: 10%;
}


.ButtonBuyBox {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-align: center;
}
.ButtonBuyBox:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #004EA8;
  border-radius: 10rem;
  z-index: -2;
}
.ButtonBuyBox:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.ButtonBuyBox:hover {
  color: #fff;
}
.ButtonBuyBox:hover:before {
  width: 100%;
}

/* optional reset for presentation */