@font-face {
  font-family: "Gramatika";
  font-style: normal;
  font-weight: 400;
  src: local("Gramatika"),
    url("assets/fonts/gramatika_regular.ttf") format("ttf");
}
@font-face {
  font-family: "Gramatika-Bold";
  font-style: bold;
  font-weight: 400;
  src: url("assets/fonts/gramatika_bold.ttf") format("ttf");
}
.MainAcceslLabel{
  text-align: center;
}

.notif{
  text-align: center;
  color: grey;
  margin-top: 50%;
  size: 5%;
  
  font-family: "Gramatika","arial",'';
}
.user_id{
  text-align: center;
  font-family: "Gramatika","arial",'';
  margin-top: 10%;
}

body {
  background-color: #1d1d1b;
  color: white;
  background-image:"images/фон.png";
}